@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maincolor: 0, 202, 254;
  --seccolor: 249, 2, 238;
  --dashbordercolor: 0, 58, 108;
  --a10: 0.1;
  --a15: 0.15;
  --a20: 0.2;
  --a25: 0.25;
  --a50: 0.5;
  --a80: 0.8;
  --a85: 0.85;

  /* rgba(var(--maincolor))
  rgba(var(--seccolor))
  rgba(var(--maincolor), var(--a10)) */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #06060B;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Oxanium", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  font-family: "Oxanium", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44444454;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: inherit;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-x::-webkit-scrollbar-thumb,
.scroll-xy::-webkit-scrollbar-thumb,
.scroll-y::-webkit-scrollbar-thumb {
  width: 2px;
  height: 2px;
  background-color: #44444454;
  border-radius: 8px;
}
